<div class="col-xs-9">
  <div form class="form-horizontal">
    <div class="form-group no-margin-bottom">
      <div class="col-xs-4 control-label">
        Test Status:
      </div>
      <div class="col-xs-8 fake-form"
        ng-class="{'text-success': test.status === 'Available', 'text-info': test.status === 'Pending', 'text-danger': test.status === 'Closed'}">
       {{ test.status }} 
      </div>
    </div>
  </div>
  <form name="datePickerForm" class="form-horizontal" role="form">
    <div class="form-group" ng-class="{'has-error': datePickerForm.$invalid}">
      <label class="control-label col-xs-4">
        <i class="fa fa-calendar"></i> Test Deadline:
      </label>
      <div class='col-xs-4'>
          <input type="text"
            class="form-control"
            ng-model="test.deadline"
            name="deadlineDate"
            data-autoclose="1"
            ng-disabled="!isEdit"
            bs-datepicker>
      </div>
      <div class='col-xs-4'>
          <input type="text"
            class="form-control"
            ng-model="test.deadline"
            data-autoclose="1"
            name="deadlineTime"
            ng-disabled="!isEdit"
            bs-timepicker>
      </div>
    </div>
  </form>
</div>
<div class="col-xs-3 section">
  <button class="btn btn-success btn-block"
    ng-click="changeTestStatus(test._id, 'Available')"
    ng-show="test.status !== 'Available' && isEdit">Publish Test</button>

  <button class="btn btn-success btn-block" ng-hide="isEdit">Submit Test</button>
  <button class="btn btn-info btn-block" ng-hide="isEdit">Run Test</button>
  <button class="btn btn-default btn-block" ui-sref="dashboard">Dashboard</button>
</div>