<div class="col-lg-9 col-sm-8 section">
  <div form class="form-horizontal">
    <div class="form-group no-margin-bottom">
      <div class="col-xs-3 control-label">
        Test Status:
      </div>
      <div class="col-xs-9 fake-form"
        ng-show="isEdit"
        ng-class="{'text-success': test.status === 'Available', 'text-info': test.status === 'Pending', 'text-danger': test.status === 'Closed'}">
       {{ test.status }} 
      </div>
      <div class="col-xs-9 fake-form"
        ng-hide="isEdit"
        ng-class="{'text-warning': result.status === 'Started', 'text-success': result.status === 'Submitted', 'text-info': result.status === 'Not Started', 'text-danger': result.status === 'Overdue'}">
       {{ result.status }} 
      </div>
    </div>
  </div>
  <form name="datePickerForm" class="form-horizontal" role="form">
    <div class="form-group no-margin-bottom" ng-class="{'has-error': datePickerForm.$invalid}">
      <label class="control-label col-xs-3">
        <i class="fa fa-calendar"></i> Test Deadline:
      </label>
      <div class='col-xs-5'>
          <input type="text"
            class="form-control"
            ng-model="test.deadline"
            name="deadlineDate"
            data-autoclose="1"
            ng-disabled="!isEdit"
            bs-datepicker>
      </div>
      <div class='col-xs-4'>
          <input type="text"
            class="form-control"
            ng-model="test.deadline"
            data-autoclose="1"
            name="deadlineTime"
            ng-disabled="!isEdit"
            bs-timepicker>
      </div>
    </div>
  </form>
  <form class="form-horizontal" ng-hide="isEdit">
    <div class="form-group">
      <div class="col-xs-3 control-label">
        Test Score:
      </div>
      <div class="col-xs-9">
        <progressbar max="max" value="result.score" class="progressbar">{{Math.floor(result.score * 100)}}%</progressbar>
      </div>
    </div>
  </form>
</div>
<div class="col-lg-3 col-sm-4 section">
  <button class="btn btn-success btn-block"
    ng-click="changeTestStatus(test._id, 'Available')"
    ng-show="test.status !== 'Available' && isEdit">Publish Test</button>
  <button class="btn btn-danger btn-block"
    ng-click="repullTest()"
    ng-show="test.status !== 'Pending' && isEdit">
    Pull from <i class="fa fa-lg fa-github"></i></button>

  <button class="btn btn-success btn-block"
    ng-click="submitTest()"
    ng-class="{disabled: isSubmitted}"
    ng-hide="isEdit">Submit Test</button>
  <button class="btn btn-info btn-block"
    ng-class="{disabled: isSubmitted}"
    ng-click="runTest()"
    ng-hide="isEdit">Run Test</button>
  <button class="btn btn-default btn-block" ui-sref="dashboard">Dashboard</button>
</div>
