<div class="col-xs-12">
  <div form class="form-horizontal">
    <div class="form-group no-margin-bottom">
      <div class="col-xs-4 control-label">
        Test Status:
      </div>
      <div class="col-xs-8 fake-form">
       {{ test.status }} 
      </div>
    </div>
  </div>
  <form name="datePickerForm" class="form-horizontal" role="form">
    <div class="form-group" ng-class="{'has-error': datePickerForm.$invalid}">
      <label class="control-label col-xs-4">
        <i class="fa fa-calendar"></i> Test Deadline:
      </label>
      <div class='col-xs-4'>
          <input type="text"
            class="form-control"
            ng-model="test.deadline"
            name="deadlineDate"
            data-autoclose="1"
            ng-disabled="!isInstructor"
            bs-datepicker>
      </div>
      <div class='col-xs-4'>
          <input type="text"
            class="form-control"
            ng-model="test.deadline"
            data-autoclose="1"
            name="deadlineTime"
            ng-disabled="!isInstructor"
            bs-timepicker>
      </div>
    </div>
  </form>
</div>
