<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">cup o joe</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
        <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
      </li>
    </ul>

    <ul ng-show="!user" class="nav navbar-nav navbar-right">
      <li><a href="" ng-click="login()">Login with <i class="fa fa-lg fa-github"></i></a><li>
    </ul>


    <ul ng-show="user" class="nav navbar-nav navbar-right">
      <li><a href="" ui-sref="dashboard">
        <i class="fa fa-tachometer"></i> DashBoard
      </a></li>

      <li><a href="" ui-sref="newTest"><i class="fa fa-plus-circle"></i> New Test</a></li>
      <li><a href="" ng-click="logout()">Logout</a></li>
<!--       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-lg fa-github"></i>  {{user.username}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="" ui-sref="newTest"><i class="fa fa-plus-circle"></i> New Test</a></li>
          <li><a href="" ng-click="logout()">Logout</a></li>
        </ul>
      </li>
 -->    
    </ul>
  </div>
</nav>