.bs-header {
  margin-top: -85px;
  // padding-top: 150px;
  // padding-bottom: 125px;
  position:relative;
  background-color: $brand-primary;
  color: white;
  height: 100vh;

  h1 {
    margin: 0;
    color: white;
  }
  h2 {
    font-size: 27px;
    color: white;
  }
  
  a {
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
      color: darken(#fff, 10%);
      text-decoration: none;
    }

    &:focus {
      @include tab-focus;
    }
  }


  .scroll-more {
    bottom: 10px
  }
}


.centered-axis-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.centered-axis-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.front-img {
  height: 290px;
  max-width: 100%;
}

.full-backdrop {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.center-page {
  img {
    display: inline-block;
    margin-top: 10px;
  }

  color: black;
  max-width: 20%;
  max-height: 20%;
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
  text-align: center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}