<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <p class="panel-title panel-heading">
          Created Tests
        </p>
      <div class="panel panel-default">
          <button class="btn btn-success btn-circle btn-circle-sm panel-corner"
            ui-sref="newTest"
            data-title="Create New Test"
            placement="left"
            bs-tooltip>
            <i class="fa fa-plus fa-lg"></i></button>
        <table class="table table-hover table-responsive">
          <tr>
            <th>Test Name</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Last Update</th>
            <th></th>
          </tr>
            <tr ng-repeat="test in myTests">
            <td class="table-width-200">{{ test.name }}</td>
            <td class="table-width-100" ng-class="{'text-success': test.status === 'Available', 'text-info': test.status === 'Pending', 'text-danger': test.status === 'Closed'}">{{ test.status }}</td>
            <td class="table-width-200">{{ test.deadline | date:"MM/dd/yyyy 'at' h:mma" }}</td>
            <td >{{ test.updatedAt | date:"MM/dd/yyyy 'at' h:mma" }}</td>
            <td class="table-width-200">
              <button class="btn btn-danger btn-xs pull-right" ng-click="deleteTest(test._id)">Delete</button>
              <button ui-sref="testView.fileView.edit({testId: test._id})" class="btn btn-warning btn-xs pull-right small-margin-sides">Edit</button>
              <button class="btn btn-info btn-xs pull-right" ui-sref="testOverview({testId: test._id})" ng-show="test.status!=='Pending'">Overview</button>
            </td>
          </tr>
        </table>
      </div>
      <p class="panel-title panel-heading">
        Available Tests
      </p>
      <div class="panel panel-default">
        <table class="table table-hover">
          <tr>
            <th>Test Name</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Last Submission</th>
            <th>Result</th>
            <th></th>
          </tr>
          <tr ng-repeat="test in possibleTests">
            <td class="table-width-200">{{ test.name }}</td>
            <td class="table-width-100" ng-class="{'text-warning': test.status === 'Started', 'text-success': test.status === 'Submitted', 'text-info': test.status === 'Not Started', 'text-danger': test.status === 'Overdue', 'text-danger': test.status === 'Outdated'}">{{ test.status }}</td>
            <td class="table-width-200">{{ test.deadline | date:"MM/dd/yyyy 'at' h:mma" }}</td>
            <td class="table-width-200">{{ test.submittedAt |  date:"MM/dd/yyyy 'at' h:mma" }}</td>
            <td>{{ test.score * 100 | number: 0 }} %</td>
            <td class="table-width-100">
              <button class="btn btn-xs pull-right"
                ng-class="{'btn-primary': test.status !=='Submitted', 'btn-info': test.status ==='Submitted'}"
                ui-sref="testView.fileView.take({testId: test._id})">
                <span ng-show="test.status !=='Submitted'">Take Test</span>
                <span ng-hide="test.status !=='Submitted'">Review Test</span>
              </button>
            </td>
          </tr>
        </table>
      </div>

      <p class="panel-title panel-heading">
        All Test Results
      </p>
      <div class="panel panel-default">
        <table class="table table-hover">
          <tr>
            <th>Test Name</th>
            <th>Status</th>
            <th>Last Submission</th>
            <th>Result</th>
          </tr>
          <tr ng-repeat="result in results">
            <td class="table-width-200">{{ result.testName }}</td>
            <td class="table-width-300" ng-class="{'text-warning': result.status === 'Started', 'text-success': result.status === 'Submitted', 'text-info': result.status === 'Not Started', 'text-danger': result.status === 'Overdue', 'text-danger': result.status === 'Outdated'}">{{ result.status }}</td>
            <td class="table-width-200">{{ result.submittedAt | date:"MM/dd/yyyy 'at' h:mma" }}</td>
            <td>{{ result.score * 100 | number: 0 }} %</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>