<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Created Tests
        </div>
        <table class="table table-hover">
          <tr>
            <th>Test Name</th>
            <th>Status</th>
            <th>Deadline</th>
          </tr>
            <tr ng-repeat="test in myTests">
            <td>{{ test.name }}</td>
            <td>{{ test.status }}</td>
            <td>{{ test.deadline | date:"MM/dd/yyyy 'at' hmma" }}</td>
            <td>
              <button class="btn btn-info btn-sm">Overview</button>
              <button ui-sref="testView({testId: test._id})" class="btn btn-warning btn-sm">Edit</button>
              <button class="btn btn-danger btn-sm" ng-click="deleteTest(test._id)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Available Tests
        </div>
        <table class="table table-hover">
          <tr>
            <th>Test Name</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Results</th>
          </tr>
          <tr ng-repeat="test in possibleTests">
            <td>{{ test.name }}</td>
            <td>{{ test.status }}</td>
            <td>{{ test.deadline | date:"MM/dd/yyyy 'at' hmma" }}</td>
            <td>????</td>
            <td>
              <button class="btn btn-primary btn-sm" ui-sref="testView({testId: test._id})">Take Test</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>