<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Created Tests
        </div>
        <div class="panel-body">
          <button class="btn btn-success" ui-sref="newTest">Make New Test</button>
        </div>
        <table class="table table-hover">
          <tr>
            <th>Test Name</th>
            <th>Status</th>
            <th>Deadline</th>
            <th></th>
          </tr>
            <tr ng-repeat="test in myTests">
            <td>{{ test.name }}</td>
            <td ng-class="{'text-success': test.status === 'Available', 'text-info': test.status === 'Pending', 'text-danger': test.status === 'Closed'}">{{ test.status }}</td>
            <td>{{ test.deadline | date:"MM/dd/yyyy 'at' hmma" }}</td>
            <td>
              <button class="btn btn-info btn-xs" ui-sref="testOverview({testId: test._id})">Overview</button>
              <button ui-sref="testView.fileView.edit({testId: test._id})" class="btn btn-warning btn-xs">Edit</button>
              <button class="btn btn-danger btn-xs" ng-click="deleteTest(test._id)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Available Tests
        </div>
        <table class="table table-hover">
          <tr>
            <th>Test Name</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Results</th>
            <th></th>
          </tr>
          <tr ng-repeat="test in possibleTests">
            <td>{{ test.name }}</td>
            <td ng-class="{'text-warning': test.status === 'Started', 'text-success': test.status === 'Submitted', 'text-info': test.status === 'Not Started', 'text-danger': test.status === 'Overdue'}">{{ test.status }}</td>
            <td>{{ test.deadline | date:"MM/dd/yyyy 'at' hmma" }}</td>
            <td>????</td>
            <td>
              <button class="btn btn-xs"
                ng-class="{'btn-primary': test.status !=='Submitted', 'btn-info': test.status ==='Submitted'}"
                ui-sref="testView.fileView.take({testId: test._id})">
                <span ng-show="test.status !=='Submitted'">Take Test</span>
                <span ng-hide="test.status !=='Submitted'">Review Test</span>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>