.test-title {
  margin-top: 8px;
  margin-bottom: 20px;
}

treecontrol > ul {
  margin-left: -20px;
}

.isReadOnly {
  color: red;
}

.isNotReadOnly {
  color: blue;
}

ansi {
  // width: 90%;
  // margin-top:40px;
  // margin-left: auto;
  // margin-right: auto;
  // margin-bottom:40px;
  // min-width: 500px; 
  // background: #fff;
  // border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
  // -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
  // /*-webkit-transition:all 0.5s; */
  // overflow: hidden; 
  font-family: Andale Mono, monospace;  line-height: 1em;
  font-size:13px;
  //float: left;
  width: 100%;
  min-height:130px;
  background:#000;
  padding:10px;
  line-height:1.5em;
  height: 300px;
  overflow-y: scroll;
  color: #fff;


  border-radius: 3px;
  white-space: pre;
  display: block;
  // padding: 11px;
  // margin: 0 0 11.5px;
  // font-size: 12px;

  word-break: break-all;
  word-wrap: break-word;


}