.test-title {
  margin-top: 8px;
  margin-bottom: 20px;
}

treecontrol > ul {
  margin-left: -20px;
}

.isReadOnly {
  color: red;
}

.isNotReadOnly {
  color: blue;
}

ansi {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  font-size:10px;
  width: 100%;
  min-height: 100px;
  background: #fdf6e3;
  // opacity: 0.8;
  padding: 10px;
  line-height: 1.5em;
  height: 150px;
  overflow-y: scroll;
  color: $gray-dark;
  // border-radius: 3px;
  white-space: pre;
  display: block;
  word-break: break-all;
  word-wrap: break-word;
}

.test-description {
  padding-top: 22px;
}


.file-tree {
  height: calc(50vh + 38px + 38px);
}

.progressbar {
  margin-top: 16px;
  margin-bottom: 0;
}

.min-border {
  border: 1px solid #999;
}