<div class="container">
  

  <div class="col-sm-3"></div>
  <div class="col-sm-6 well">
    <fieldset>
      <legend>Create a new test</legend>


      <div flow-init="{target: '/api/test', testChunks: false}" flow-file-success="$file.msg = $message">

      <form class="form-horizontal" ng-submit="$flow.upload()" novalidate>
        <div class="form-group">
          <label for="testName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="testName" placeholder="Test name" ng-model="test.name">
          </div>
        </div>
        <div class="form-group">
          <label for="testInstructions" class="col-sm-2 control-label">Instructions</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="testInstructions" placeholder="Instructions for this assessment" ng-model="test.instructions"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-xs-2">Deadline</label>
          <div class="col-xs-5">
            <input type="text" size="10" class="form-control" ng-model="test.deadline" data-autoclose="1" placeholder="Date" bs-datepicker>
          </div>
          <div class="col-xs-5">
            <input type="text" size="8" class="form-control" ng-model="test.deadline" data-autoclose="1" placeholder="Time" bs-timepicker>
          </div>
        </div>

        <div class="form-group">
          

            
          <div class="drop" flow-drop="" ng-class="dropClass">
            <span class="btn btn-default" flow-btn flow-directory ng-show="$flow.supportDirectory">Upload Folder</span>
            <b>OR</b>
            Drag And Drop your file here
          </div>

          <div class="well">
            <button class="btn btn-small btn-success" ng-click="$flow.resume()">Resume all</button>
            <button class="btn btn-small btn-danger" ng-click="$flow.pause()">Pause all</button>
            <button class="btn btn-small btn-info" ng-click="$flow.cancel()">Cancel all</button>
            <span class="label label-info">Total Size: {{$flow.getSize()}} bytes</span>
          </div>
          

          <div ng-repeat="file in $flow.files" class="transfer-box">
            

            <div class="col-xs-8">
              {{file.relativePath}} ({{file.size}} bytes)
              <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                  <span class="sr-only">{{file.progress()}}% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="btn-group">
                <a class="btn btn-xs btn-warning ng-hide" ng-click="file.pause()" ng-show="!file.paused &amp;&amp; file.isUploading()">Pause</a>
                <a class="btn btn-xs btn-warning ng-hide" ng-click="file.resume()" ng-show="file.paused">Resume</a>
                <a class="btn btn-xs btn-danger" ng-click="file.cancel()">Cancel</a>
                <a class="btn btn-xs btn-info ng-hide" ng-click="file.retry()" ng-show="file.error">Retry</a>
              </div>
            </div>
            
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
          </div>
        </div>
      </form>
      </div>
    </fieldset>
  </div>
  <div class="col-sm-3"></div>
</div>