<div class="container">
  <div class="col-xs-12">
    <div>
      <button class="btn btn-default btn-circle btn-circle-sm margin-left" ui-sref="dashboard"><i class="fa fa-lg fa-arrow-left"></i></button>
    </div>
    <p class="panel-title panel-heading">
      Test Overview for '{{test.name}}'
    </p>
    <div class="panel panel-primary">
      <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <label>Filter by Groups: </label>
          <button type="button" class="btn btn-default" ng-model="groupFilter" data-html="1" bs-options="group._id as group.name for group in groups" ng-change="refilterList(groupFilter)" bs-select placeholder="Show All"></button>
        </div>
      </form>
      </div>
      <table class="table table-hover">
        <tr>
          <th class="table-width-200">Username</th>
          <th class="table-width-200">Groups</th>
          <th class="table-width-200">Test Status</th>
          <th class="table-width-100">Test Score</th>
          <th class="table-width-200"></th>
        </tr>
        <tr ng-repeat="user in users">
          <td class="table-width-200">{{user.username}}</td>
          <td class="table-width-200">{{user.groups | groupDisplay: 'name'}}</td>
          <td class="table-width-200" ng-class="{'text-warning': user.result.status === 'Started', 'text-success': user.result.status === 'Submitted', 'text-info': user.result.status === 'Not Started', 'text-danger': user.result.status === 'Overdue', 'text-danger': user.result.status === 'Outdated'}">{{user.result.status}}</td>
          <td class="table-width-100">{{user.result.score * 100 | number: 0}} %</td>
          <td class="table-width-200">
            <button class="btn btn-info btn-xs"
              ng-show="user.result.status === 'Submitted'"
              ui-sref="resultView.fileView.take({testId: test._id, userId: user._id})">
              Review Test
            </button>
            <button class="btn btn-warning btn-xs"
              ng-show="user.result.status === 'Submitted'"
              ng-click="rollBack(user, user.result._id)">
              Roll back
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>