* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.section {
  margin-bottom: 20px;
}



@import 'vendor/main';
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'login/main';
@import 'test-view/main';
@import 'file-view/main';
@import 'directives/ace_editor';
@import 'text-edits';
@import 'buttons';
@import 'bootstrap/margins-and-padding';
@import 'table';


.panel-title {
  font-size: 16px;
  color: #999;
}

.well {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}