<div class="well">
  <div class="container-fluid" ng-show="isEdit">
    <div class="row section">
      <p class="small-margin-bottom">
        <span ng-show="isPending">Provide commands here to set up the server image<br>
        e.g. <code>npm install; bower install;</code></span>
        <span ng-hide="isPending">Shell commands:</span>
      </p>
      <div ui-ace ng-model="test.shellCommands" ng-readonly="!isPending"></div>
    </div>
    <div class="row section" ng-show="isPending">
      <button class="btn btn-primary btn-sm"
        ng-class="{disabled: !shellIsFileChanged}"
        ng-click="saveShellCommandChanges(test.shellCommands)">Save Shell Command Changes
      </button>
    </div>
    <div class="row section" ng-show="isEdit">
      <select class="form-control small-font" ng-disabled="!isPending" ng-options="option for option in testOptions" ng-model="test.testType">
        <option value="">
          Choose Test Environment (default Mocha)
        </option>
      </select>
    </div>
    <div class="row section">
      <p class="small-margin-bottom">
        <span ng-show="isPending">Provide commands here for the server to run tests<br>
        e.g. <code>npm test;</code></span>
        <span ng-hide="isPending">Test commands:</span>
      </p>
      <div ui-ace ng-model="test.testCommands" ng-readonly="!isPending"></div>
    </div>
    <div class="row" ng-show="isPending">
      <button class="btn btn-primary btn-sm"
        ng-class="{disabled: !testIsFileChanged}"
        ng-click="saveTestCommandChanges(test.testCommands)">Save Test Command Changes
      </button>
    </div>
  </div>

  <div ng-hide="isEdit">
    <p class="small-margin-bottom">
      Test Console Output
    </p>
    <pre>{{ result.output }}</pre>
  </div>
</div>
