<div class="well">
  <div class="container-fluid" ng-show="isInstructor">
    <div class="row section">
      <p class="small-margin-bottom">
        Provide commands here for the server to run tests<br>
        e.g. <code>npm test</code>
      </p>
      <div ui-ace ng-model="test.shellCommands"></div>
    </div>
    <div class="row">
      <button class="btn btn-primary btn-sm"
        ng-class="{disabled: !isFileChanged}"
        ng-click="saveCommandChanges(test.shellCommands)">Save Changes
      </button>
    </div>
  </div>

  <div ng-hide="isInstructor">
    <p class="small-margin-bottom">
      Test Console Output
    </p>
    <pre></pre>
  </div>
</div>