<div class="">
  <div ng-show="isEdit">
    <form name="descriptionForm">
      <div class="form-group">
        <p class="small-font"><i>Test description supports Markdown.</i></p>
        <textarea name="description"
          class="form-control small-font"     
          ng-model="test.instructions">
        </textarea>
        <div btf-markdown="test.instructions"></div>
      </div>
    </form>
    <button class="btn btn-primary btn-sm pull-right"
      ng-class="{disabled: !descIsFileChanged}"
      ng-click="saveInstructionChanges(test.instructions)">Save Description Changes
    </button>
    <div class="clearfix"></div>
  </div>
  <div ng-hide="isEdit">
    <div btf-markdown="test.instructions"></div>
  </div>
</div>