<div class="">
  <div ng-show="isEdit">  
    <div class="small-margin-bottom" bs-active-pane="tabs.activeTab" nav-class="nav-tabs nav-justified" bs-tabs>
      <div data-title="Markdown" bs-pane>
        <textarea name="description"
          class="form-control"  
          rows="7"   
          ng-model="test.instructions">
        </textarea>
      </div>
      <div data-title="Preview" bs-pane><div btf-markdown="test.instructions"></div></div>
    </div>

    <button class="btn btn-primary btn-sm pull-right"
      ng-class="{disabled: !descIsFileChanged}"
      ng-click="saveInstructionChanges(test.instructions)">Save Description Changes
    </button>
    <div class="clearfix"></div>
  </div>
  <div ng-hide="isEdit">
    <div btf-markdown="test.instructions"></div>
  </div>
</div>