<div class="well">
  <div ng-show="isEdit">
    <form name="descriptionForm">
      <div class="form-group">
        <label>Test Description</label>
        <textarea name="description"
          class="form-control small-font"
          ng-model="test.instructions">
        </textarea>
      </div>
    </form>
    <button class="btn btn-primary btn-sm"
      ng-class="{disabled: !descIsFileChanged}"
      ng-click="saveInstructionChanges(test.instructions)">Save Changes
    </button>
  </div>
  <div ng-hide="isEdit">
    <p class="small-margin-bottom">
      Test Description:
    </p>
    <p class="small-font">
      {{ test.instructions }}
    </p>
  </div>
</div>